:root {
  --primary-1: #fdfcff;
  --primary-2: #fbf7ff;
  --primary-3: #f5edff;
  --primary-4: #efe1ff;
  --primary-5: #e7d3ff;
  --primary-6: #ddc2ff;
  --primary-7: #cfabff;
  --primary-8: #be8bff;
  --primary-9: #9333ea;
  --primary-10: #8427d5;
  --primary-11: #8529d6;
  --primary-12: #440f71;

  --secondary-1: #f9fdfe;
  --secondary-2: #f1fbfc;
  --secondary-3: #dbf7fc;
  --secondary-4: #c5f2f9;
  --secondary-5: #afeaf3;
  --secondary-6: #95dfea;
  --secondary-7: #71d0de;
  --secondary-8: #05bccf;
  --secondary-9: #19c1d4;
  --secondary-10: #00b6c8;
  --secondary-11: #008090;
  --secondary-12: #003e46;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;

  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;

  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;

  --yellow-1: #fefdfb;
  --yellow-2: #fefbe9;
  --yellow-3: #fff7c2;
  --yellow-4: #ffee9c;
  --yellow-5: #fbe577;
  --yellow-6: #f3d673;
  --yellow-7: #e9c162;
  --yellow-8: #e2a336;
  --yellow-9: #ffc53d;
  --yellow-10: #ffba18;
  --yellow-11: #ab6400;
  --yellow-12: #4f3422;

  --orange-1: #fefcfb;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;

  --violet-1: #fdfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-10: #654dc4;
  --violet-11: #6550b9;
  --violet-12: #2f265f;

  --indigo-1: #fdfdfe;
  --indigo-2: #f7f9ff;
  --indigo-3: #edf2fe;
  --indigo-4: #e1e9ff;
  --indigo-5: #d2deff;
  --indigo-6: #c1d0ff;
  --indigo-7: #abbdf9;
  --indigo-8: #8da4ef;
  --indigo-9: #3e63dd;
  --indigo-10: #3358d4;
  --indigo-11: #3a5bc7;
  --indigo-12: #1f2d5c;

  --pink-1: #fffcfe;
  --pink-2: #fef7fb;
  --pink-3: #fee9f5;
  --pink-4: #fbdcef;
  --pink-5: #f6cee7;
  --pink-6: #efbfdd;
  --pink-7: #e7acd0;
  --pink-8: #dd93c2;
  --pink-9: #d6409f;
  --pink-10: #cf3897;
  --pink-11: #c2298a;
  --pink-12: #651249;

  --bronze-1: #fdfcfc;
  --bronze-2: #fdf7f5;
  --bronze-3: #f6edea;
  --bronze-4: #efe4df;
  --bronze-5: #e7d9d3;
  --bronze-6: #dfcdc5;
  --bronze-7: #d3bcb3;
  --bronze-8: #c2a499;
  --bronze-9: #a18072;
  --bronze-10: #957468;
  --bronze-11: #7d5e54;
  --bronze-12: #43302b;

  --gold-1: #fdfdfc;
  --gold-2: #faf9f2;
  --gold-3: #f2f0e7;
  --gold-4: #eae6db;
  --gold-5: #e1dccf;
  --gold-6: #d8d0bf;
  --gold-7: #cbc0aa;
  --gold-8: #b9a88d;
  --gold-9: #978365;
  --gold-10: #8c7a5e;
  --gold-11: #71624b;
  --gold-12: #3b352b;

  --gray-0: #ffffff;
  --gray-1: #fdfcfd;
  --gray-2: #faf9fb;
  --gray-3: #f2eff3;
  --gray-4: #eae7ec;
  --gray-5: #e3dfe6;
  --gray-6: #dbd8e0;
  --gray-7: #d0cdd7;
  --gray-8: #bcbac7;
  --gray-9: #8e8c99;
  --gray-10: #84828e;
  --gray-11: #65636d;
  --gray-12: #43414a;
  --gray-13: #211f26;

  --surface-raised: var(--gray-0);
  --surface: var(--gray-1);
  --surface-muted: var(--gray-2);
}
